* {
    margin: 0;
    padding: 0; 
    font-family: Arial, calibri; 
    font-size: 14px
}

body {
    background-color: #DDD;
}

/* seção topo */
#topo {
    width: 100%;
    height: 350px;
    background-color: #777;
    float: left;
    position: relative;
}

#topo figure {
    margin: 220px 42% auto;
    position: relative;
    z-index: 10;
}

#topo figure img {
    width: 150px;
    height: auto;
    background-color: #000;
    border-radius: 100px;
    float: left;
}

#topo header {  
    width: 100%;
    position: absolute;
    margin-top: 120px;
}

#topo header h1 {
    text-align: center;
    font-size: 36px;
    color: #FFF;
}

/* primeira lista */
#mais {
    list-style: none;
    position: absolute;
    top: -56px;
    left: 0;
    
}

#mais li:hover ul {
    display: block;
}

/* imagem de promoção */
#menu {
    width: 50px;
    height: auto;
    transition: 0.2s;
    position: relative;
    z-index: 10;
}

#mais:hover #menu {
    width: 55px;
    height: auto;
}

/* segunda lista */
#mais li ul {
    z-index: 10;
    display: none;
    list-style: none;
    position: absolute;
    background-color: #999;
    width: 160px;
    top: 30px;
    left: 40px;
}

#mais li ul li {
    color: #777;
    padding: 10px 20px;
    margin: 2px 1px;
    background-color: #FFF;
}

#mais li ul li:hover {
    color: #FFF;
    background-color: #555;
}

#pizza_menu li a {
    text-decoration: none;
    color: #0AF;
    padding: 10px 12px;
}

#topo nav {
    border: 0px solid red;
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 52%;
    margin-top: 28%;
}

#menu_perfil {
    width: 100%;
    min-height: 50px;
    background-color: #222;
    position: absolute;
    bottom: 0;
}

#menu_perfil a {
    float: left;
    text-decoration: none;
    color: #999;
    padding: 30px;
    background-color: #222;
}

#menu_perfil a:hover {
    background-color: #555;
    color: #0AF;
}

/* seção conteudo */
#principal {
    max-width: 1200px;
    min-height: 700px;
    margin: 0 auto;
    background-color:#0AF;
}

/* conteudo */
#conteudo {
    width: 100%;
    height: 300px;
    float: left;
}

h1, .dados {
    margin-left: 20px;
}

/* pagina de cadastr */
#form {
    border: 0px solid blue;
    width: 500px;
    min-height: 240px;
    margin: 15% auto;
    overflow: hidden;
    background-color: #0AF;
    position: relative;
}

#form a {
    float: left;
    position: absolute;
    right: 5%;
    bottom: 10px;
    border: 0px solid red;
    text-decoration: none;
}

#form :hover {
    text-decoration: underline;
}

.entradas {
    width: 90%;
    height: 45px;
    float: left;
    margin: 5px 5%;
}

label {
    float: left;
    margin: 1% 5%;
}

.bt_form {
    padding: 5px 10px;
    margin-bottom: 5px;
}

/* roda pé */
#rodape {
    width: 100%;
    min-height: 50px;
    float: left;
    background-color: #222;
}

footer p {
    text-align: center;
    margin: 40px 0;
    color: #999;
}