* {margin: 0; padding: 0}

#principal {
    max-width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-color: #0AF;
}

/* seção topo */
#topo {
    width: 100%;
    height: 300px;
    background-color: #777;
    float: left;
}

#topo figure {
    margin: 250px 42% auto;
}

#topo figure img {
    width: 150px;
    height: auto;
    border-radius: 100px;
}